@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --primary: hsl(246, 80%, 60%);
  --primary-dark: hsl(235, 46%, 20%);
  --primary-darkest: hsl(226, 43%, 10%);
  --primary-muted: hsl(235, 45%, 61%);
  --primary-light: hsl(236, 100%, 87%);

  --work: hsl(15, 100%, 70%);
  --play: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exercise: hsl(145, 58%, 55%);
  --social: hsl(264, 64%, 52%);
  --self-care: hsl(43, 84%, 65%);
}

* {
  font-family: "Rubik", sans-serif;
}

body {
  font-size: 18px;
  background-color: var(--primary-darkest);
}

h1 {
  background-color: transparent;
}

.App {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 95vh;
  overflow: hidden;
}

.Wrapper {
  flex: 1;
  flex-shrink: 1;
  flex-grow: 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 15rem auto;
  grid-template-rows: repeat(2 1fr);
  gap: 4rem;
  justify-content: center;
}

.Habits {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 15rem);
  gap: 2rem;
  grid-column-start: 2;
}

.Profile {
  background-color: var(--primary-dark);
  width: 100%;
  border-radius: 1.5rem;
  padding: 1rem;
  grid-column-start: 1;
  grid-row-start: 1 / 3;
  box-shadow: 0.3rem 0.5rem 0.8rem rgba(0, 0, 0, 0.5);
}

.Card {
  width: rem;
  height: 12rem;
  background-color: white;
  padding-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.5rem 0.8rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.Card img {
  position: relative;
  width: 4rem;
  height: auto;
  z-index: 0;
  margin-top: -3rem;
  margin-left: 10rem;
  overflow: hidden;
}

.Card .Content {
  position: relative;
  background-color: var(--primary-dark);
  color: var(--primary-muted);
  font-size: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 5 !important;
  margin-top: -1rem;
}

.Card .Content .Inner {
  width: auto;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(2, 1fr);
}

.Card .Content .Head {
  position: relative;
  display: grid;
  text-transform: capitalize;
  justify-items: start;
  color: white;
  font-size: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

.Card .Content .Head img {
  place-self: end;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
}

.Card .Content h1 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 0;
  color: white;
}

#work {
  background-image: linear-gradient(
    0deg,
    var(--primary-dark) 50%,
    var(--work) 50%
  );
  background-color: var(--work);
}

#play {
  background-image: linear-gradient(
    0deg,
    var(--primary-dark) 50%,
    var(--play) 50%
  );
  background-color: var(--play);
}

#study {
  background-image: linear-gradient(
    0deg,
    var(--primary-dark) 50%,
    var(--study) 50%
  );
  background-color: var(--study);
}

#exercise {
  background-image: linear-gradient(
    0deg,
    var(--primary-dark) 50%,
    var(--exercise) 50%
  );

  background-color: var(--exercise);
}

#social {
  background-image: linear-gradient(
    0deg,
    var(--primary-dark) 50%,
    var(--social) 50%
  );
  background-color: var(--social);
}

#self-care {
  background-image: linear-gradient(
    0deg,
    var(--primary-dark) 50%,
    var(--self-care) 50%
  );
  background-color: var(--self-care);
}
